 <!DOCTYPE html>
<html lang="en-US" ng-app="basicApp">
      <head>
         <title>fenix interview</title>
         <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
         <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
         <script src="core.js"></script>
		 
     </head>
     <body>
        <div ng-controller="homeController">
        <label>Account number:</label>
        <input type="text" ng-model="AccountNumber" placeholder="account number" />
        <hr />
        
		<label>Payment Reference:</label>
        <input type="text" ng-model="PaymentReference" placeholder="payment reference" />
        <hr />
		
		<label>Payment Date:</label>
        <input type="text" ng-model="PaymentDate" placeholder="payment date" />
        <hr />
		
		<label>Payment Amount:</label>
        <input type="text" ng-model="PaymentAmount" placeholder="payment amount" />
        <hr />
		
		
        </div>
		
		

		
     </body>
</html>